

  <div class="container-fluid" >
    <router-outlet></router-outlet>
  </div>
  
  <!--<nav *ngIf="mostraMenu" class="navbar navbar-fixed-bottom navbar-light" style="background: #f7ca18;">-->
  <nav  class="navbar navbar-fixed-bottom" style="background: #ffce54;">
    <ul class="nav">     
      <li routerLinkActive="active" class="col-sm-4 text-center" >
        <a routerLink="/home"><i class="fa fa-home fa-3x" arial-hidden="true"></i>
            <div><strong>HOME</strong></div>
          </a>
        </li>
        <li routerLinkActive="active" class="col-sm-4 text-center">
          <a routerLink="/bid"><i class="fa fa-futbol-o fa-3x" arial-hidden="true"></i>
            <div><strong>BID</strong></div>
          </a>
        </li>
        <li *ngIf="admPermissao" routerLinkActive="active" class=" text-center"> 
          <a routerLink="/mensalidade">
            <i class="fa fa-money fa-3x"></i>
            <div><strong>MENSALIDADE</strong></div>
          </a>
        </li>
      </ul>
    </nav>

  