
<header class="scrollMenu navbar-fixed-top"  id="mySidebar" style="background:#ffce54">
  <div class="text-center">
    <img class="img-circle img" src="assets/img/logoColisao.png" alt="Logo Colisao" >
  </div>
</header>
    <router-outlet></router-outlet>
<footer>
  <div class="scrollMenu navbar-fixed-bottom " style="background: #ffce54;" *ngIf="mostraMenu">
    <a routerLink="/home"><i class="fa fa-home fa-2x" arial-hidden="true"></i>
      <div><strong>HOME</strong></div>
    </a>
    <a routerLink="/bid" ><i class="fa fa-futbol-o fa-2x" arial-hidden="true"></i>
      <div><strong>BID</strong></div>
    </a>
    <!--*ngIf="admPermissao" -->
    <a routerLink="/mensalidade" *ngIf="admPermissao">
      <i class="fa fa-money fa-2x"></i>
      <div><strong>MENSALIDADE</strong></div>
    </a>
    <a (click)="loggof()">
      <i class="fa fa-money fa-2x"></i>
      <div><strong>Loggof</strong></div>
    </a>
  </div>
</footer>  
  
  
  <!--<nav *ngIf="mostraMenu" class="navbar navbar-fixed-bottom navbar-light" style="background: #f7ca18;">-->
  
<!--  
<nav>
    <ul class="nav navbar-fixed-bottom " style="background: #ffce54;">     
      <li routerLinkActive="active" class="text-center" >
        <a routerLink="/home" class="col-xs-4"><i class="fa fa-home fa-2x" arial-hidden="true"></i>
          <div><strong>HOME</strong></div>
        </a>
      </li>
      <li routerLinkActive="active" class="text-center">
        <a routerLink="/bid" class="col-xs-4"><i class="fa fa-futbol-o fa-2x" arial-hidden="true"></i>
          <div><strong>BID</strong></div>
          </a>
        </li>
        <li *ngIf="admPermissao" routerLinkActive="active" class="text-center"> 
          <a routerLink="/mensalidade" class="col-xs-4">
            <i class="fa fa-money fa-2x"></i>
            <div><strong>MENSALIDADE</strong></div>
          </a>
        </li>
      </ul>
</nav>
-->
   
  
    