
<div class="container">
<!-- mostra a o tiempo do bid -->
    <div class="cadastroBid navbar-fixed-top">
        <p id="contador" class="text-center conometro">{{msg}}</p>
    </div>
    <!-- mostra a quantidade de resposta do bid -->
    <div class="resultado navbar-fixed-top">			
        <div class="col-xs-4">
            5<span><i class="fa fa-check-circle fa-2x" aria-hidden="true"></i></span>
        </div>
        <div class="col-xs-4">
            2<span><i class="fa fa-ambulance fa-2x" aria-hidden="true"></i></span>
        </div>
        <div class="col-xs-4">
            1<span><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span>
        </div>
    </div>

    <!-- formulario de cadastro de usuario-->
    <div class="cadastroUsuario" #cadastroBid style="display:block;">
        <div class="closeMenu">
            <span (click)="mostraCadastro()" class=""><i class="fa fa-window-close fa-3x" aria-hidden="true"></i></span>
        </div>
        <div>
            <form action="">
            <div class="alinhaResposta">
                <div class="form-group">
                    <span class="check"><i class="fa fa-check-circle fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                            <input type="radio" checked="checked" name="radio">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                          <input type="radio" checked="checked" name="radio">
                          <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span class="DontCheck"><i class="fa fa-times-circle fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                          <input type="radio" checked="checked" name="radio">
                          <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning btn-lg">Enviar</button>
            </form>
        </div>
    </div>
    
    
    <button class="btn-registro" (click)="mostraCadastro()" ng-show="jogadores">send</button>
    
    <div class="bid">
        <div class="scroll">
            <div >                
                <span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span>
                <br><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br>  <span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="DontCheck"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="DontCheck"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="DontCheck"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                <br><span  class="DontCheck"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span><span><i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
      
            </div>    
        </div>
    </div>		
</div>
  