<div class="bid">
        <div class="cadastroUsuario" #cadastroBid >
            <div class="closeMenu">
                <span (click)="mostraCadastro()" class=""><i class="fa fa-window-close fa-3x" aria-hidden="true"></i></span>
            </div>
        <div>
        <form #f="ngForm" (ngSubmit)="cadBid(f)">
            <div class="alinhaResposta">
                <div class="form-group">
                    <span class="check"><i class="fa fa-check-circle fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                            <input type="radio" checked="checked" name="radio" #confirmado="ngModel" ngModel value="confirmado">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span  class="dm"><i class="fa fa-ambulance fa-4x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                            <input type="radio" checked="checked" name="radio" #dm="ngModel" ngModel value="dm"> 
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span class="DontCheck"><i class="fa fa-times-circle fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                            <input type="radio" checked="checked" name="radio" #falta="ngModel" ngModel value="falta">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning btn-lg" type="submit" (click)="mostraCadastro()">Enviar</button>
        </form>
        </div>
        </div>
</div>

<!-- mostra a o tempo do bid -->
<div class="cadastroBid navbar-fixed-top">
    <p id="contador" class="text-center conometro">{{msg}}</p>
</div>
<!-- mostra a quantidade de resposta do bid -->

<button class="btn-registro" (click)="mostraCadastro()" #btnBid >Bid</button>

<div class="resultado navbar-fixed-top">
        <div class="container">
            <div class="bid">
    
                <div class="col-xs-4">
                5<span class="check"><i class="fa fa-check-circle fa-1x" aria-hidden="true"></i></span>
            </div>
            <div class="col-xs-4">
                2<span class="dm"><i class="fa fa-ambulance fa-1x" aria-hidden="true"></i></span>
            </div>
            <div class="col-xs-4">
                1<span class="DontCheck"><i class="fa fa-times-circle fa-1x" aria-hidden="true"></i></span>
            </div>
        </div>
        </div>			
    </div>
<div class="container">
    <div class="bid">
        <div class="scroll">
            <div *ngFor="let p of guarda"  [ngSwitch]="p.bid">
                <div class="cont chip">
                    {{ p.Name }}
                    <span  class="dm .span" *ngSwitchCase="'dm'"><i class="fa fa-ambulance fa-3x" aria-hidden="true"></i> </span>
                    <span class="check .span"*ngSwitchCase="'confirmado'"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></span>
                    <span class="DontCheck .span" *ngSwitchCase="'falta'"><i class="fa fa-times-circle fa-3x" aria-hidden="true"></i> </span>
                </div>
                <br>
            </div> 
            <i *ngIf="perteceJogador" class="fa fa-pencil"></i>      
        </div>		
    </div>
</div>
  