
<div class="container">

<!-- formulario de cadastro de usuario-->
    <div class="bid">
        <div class="cadastroUsuario" #cadastroBid >
            <div class="closeMenu">
                <span (click)="mostraCadastro()" class=""><i class="fa fa-window-close fa-3x" aria-hidden="true"></i></span>
            </div>
        <div>
                <form #f="ngForm" (ngSubmit)="cadBid(f)">
                <div class="alinhaResposta">
                <div class="form-group">
                    <span class="check"><i class="fa fa-check-circle fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                            <input type="radio" checked="checked" name="radio" #confirmado="ngModel" ngModel value="confirmado">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span  class="dm"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                          <input type="radio" checked="checked" name="radio" #dm="ngModel" ngModel value="dm"> 
                          <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span class="DontCheck"><i class="fa fa-times-circle fa-5x" aria-hidden="true"></i></span>
                    <div class="central">
                        <label class="switch">
                          <input type="radio" checked="checked" name="radio" #falta="ngModel" ngModel value="falta">
                          <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
    
            <button class="btn btn-warning btn-lg" type="submit" (click)="mostraCadastro()">Enviar</button>
            </form>
        </div>
    </div>
</div>


<!-- mostra a o tiempo do bid -->
    <div class="cadastroBid navbar-fixed-top">
        <p id="contador" class="text-center conometro">{{msg}}</p>
    </div>
    <!-- mostra a quantidade de resposta do bid -->
    <div class="resultado navbar-fixed-top">			
        <div class="col-xs-4">
            5<span><i class="fa fa-check-circle fa-2x" aria-hidden="true"></i></span>
        </div>
        <div class="col-xs-4">
            2<span><i class="fa fa-ambulance fa-2x" aria-hidden="true"></i></span>
        </div>
        <div class="col-xs-4">
            1<span><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span>
        </div>
    </div>

    
    
    
    <button class="btn-registro" (click)="mostraCadastro()" #btnBid >Bid</button>
    <button class="btn-registro" (click)="mostraCadastro()" #btnEnviar >Enviar</button>
    
    <div class="bid">
        <div class="scroll">
            <div *ngFor="let p of guarda"  [ngSwitch]="p.bid" >
                {{ p.Name }}
                <span  class="dm" *ngSwitchCase="'dm'"><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i> </span>
                <span class="check"*ngSwitchCase="'confirmado'"><i class="fa fa-check-circle fa-5x" aria-hidden="true"></i></span>
                <span class="DontCheck" *ngSwitchCase="'falta'"><i class="fa fa-times-circle fa-5x" aria-hidden="true"></i> </span>
            </div>
            <i *ngIf="perteceJogador" class="fa fa-pencil"></i>      
               
    </div>		
</div>
  