<div class="container-principal">
  <div class="bid" >      
      
      <form #f="ngForm" *ngIf="flag" >
        <div class="cadastroUsuario" #cadastroQuadro >
          <div class="list-group list-group-flush">
            <div class="closeMenu"></div>
            <div class="list-group-item">              
              <div class="alinhaResposta">
                <div class="form-group">
                  <span class="quadro">2 Quadro</span>
                  <div class="central">
                    <label class="switch">
                      <input type="radio" checked="checked" name="radio" #quadro2="ngModel" ngModel value="2" >
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <span  class="quadro">1 Quadro</span>
                  <div class="central">
                    <label class="switch">
                      <input type="radio" checked="checked" name="radio" #quadro1="ngModel" ngModel value="1"> 
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                
              </div>
              
            </div>
            <div class="list-group-item">
              <div class="alinhaResposta">
                <div class="form-group" *ngFor="let jo of jogadores" >
                  <span class="quadro">{{jo.nome}}</span>
                  <div class="central-jogador">
                    <label class="switch">
                        <input type="checkbox" value="{{jo}}" (change)="passaValor(jo,$event)"> 
                        <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            
            <button class="btn btn-warning btn-lg" type="submit" (click)="cadastraJogadores(f)">Enviar</button>
          </div>
        </div>
        
      </form>
    
    </div>
  </div>
  
  <div>
    <img id="fundo" src="assets/img/icones-fundo.png">
    <nav *ngFor="let jo of perfil">
        <ul>
          <li><div class="circular">{{ jo.nome }}</div></li>			
          <li><input type="number" name="chuteagol[]" class="btn-registro chuteagol"  [(ngModel)]="teste"  (click)="soma();"></li>
          <li><input type="number" name="gol[]" class="btn-registro gol" onclick="func(this)" value="0"></li>
          <li><input type="number" name="assistencia[]" class="btn-registro assistencia" onclick="func(this)" value="0"></li>
          <li><input type="number" name="faltascometidas[]" class="btn-registro faltascometidas" onclick="func(this)" value="0"></li>
          <li><input type="number" name="faltassofridas[]" class="btn-registro faltassofridas" onclick="func(this)" value="0"></li>
          <li><input type="number" name="desarmes[]" class="btn-registro desarmes" onclick="func(this)" value="0"></li>
          <li><input type="hidden" name="id[]" value=""></li>
          <li><input type="hidden" name="quadro" value=""> </li>
        </ul>
      </nav>		
  </div>
