<div class="container-principal">
  <div class="bid" >      
      
      <form #f="ngForm" *ngIf="flag" >
        <div class="cadastroUsuario" #cadastroQuadro >
          <div class="list-group list-group-flush">
            <div class="closeMenu"></div>
            <div class="list-group-item">              
              <div class="alinhaResposta">
                <div class="form-group">
                  <span class="quadro">2 Quadro</span>
                  <div class="central">
                    <label class="switch">
                      <input type="radio" checked="checked" name="radio" #quadro2="ngModel" ngModel value="2" >
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <span  class="quadro">1 Quadro</span>
                  <div class="central">
                    <label class="switch">
                      <input type="radio" checked="checked" name="radio" #quadro1="ngModel" ngModel value="1"> 
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                
              </div>
              
            </div>
            <div class="list-group-item">
              <div class="alinhaResposta">
                <div class="form-group" *ngFor="let jo of jogadores" >
                  <span class="quadro">{{jo.nome}}</span>
                  <div class="central-jogador">
                    <label class="switch">
                        <input type="checkbox" value="{{jo}}" (change)="passaValor(jo,$event)"> 
                        <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            
            <button class="btn btn-warning btn-lg" type="submit" (click)="cadastraJogadores(f)">Enviar</button>
          </div>
        </div>
        
      </form>
    
    </div>
  </div>
  
  <div>
    <div class="central" *ngFor="let jo of perfil">
      <label for="">{{jo.nome}}</label>                
    </div>
    
  </div>