
.container-principal{
    margin-top: -10px;
}
#fundo{
	width: 80%;
	left:18%;
	position: relative;
}
.radio-select{
    float: left;
}
.radio-select input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-select input:checked + .label{
    background-color: blueviolet;
    border: 2px solid #212121;
}
.label{
    padding: 50px 100px 0 0;
    margin-left: 10px;    
    background-color: aquamarine;
    cursor: pointer;
}
.quadro{
  font: 50px bold;
}

.closeMenu{
  background-color: #ffce54;
  height: 45px;
}
/*span de dentro do menu*/
.closeMenu>span
{
  float: right;
  cursor: pointer;
}
/*alinha REsposta*/
.alinhaResposta
{
  padding: 0.6em;/*15/90*/
}
.central
{
  float: right;
  margin-right: .2222em;/*20/90*/
  margin-top: 0.8em ;/*5/90*/
}
.central-jogador
{
  float: right;
  margin-right: .2222em;/*20/90*/
  margin-top: 0.9em ;/*5/90*/
}


/*margem da div de dentro da div.bid*/
.bid{
  width: 90%;
  margin: 0 auto;
 
}
.cadastroUsuario
{
  margin-top:-2.9em;
  height: auto;
  width: 100%;
  background-color: #ecf0f1;
  height: auto;
  overflow: scroll;
  touch-action:pan-y;
  margin-bottom: 80px;
}
.cadastroUsuario > span
{
  cursor: pointer;
}
/*botao para registrar o usuario no bid*/
/*muda a cor do btn-primary*/
.btn-warning
{
  background-color: #ffce54;
  border-color: #ffce54;
}

/*deixa o botao do bootstrap 100%*/
.btn-lg
{
  width: 100%;
}
/*fundo do form*/
.formulario
{
  background-color: white;
  width: 80%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top:200px;
}
/*span dentro do form*/
.formulario > span
{
  cursor: pointer;
}/* fundo do slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
      
}
/*esconde o chekbox*/
.switch input {display:none;}

/* O slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
/*.switch:hover input ~ .slider {
    background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
/*.switch input:checked ~ .slider {
    background-color: #2196F3;
}*/

/* Create the indicator (the dot/circle - hidden when not checked) */
.slider:after {
  position: absolute;
  content: "";
  height: 206px;
  width: 206px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Show the indicator (dot/circle) when checked */
.switch input:checked ~ .slider:after {
    transform: translateX(26px);
}

/* Style the indicator (dot/circle) */
.switch .slider:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*esconde o chekbox*/
.switch input {display:none;}
/* Rounded sliders */
.slider.round {
  border-radius: 180px;
}
.slider.round:before {
  border-radius: 50%;
}

/*registro dos jogadores*/
.chuteagol{
	background-color: #4ec8af;	
}
.gol{
	background-color: #60ade0;	
}
.assistencia{
	background-color: #ae7cc2;
}
.faltascometidas{
	background-color: #39ca74;
}
.faltassofridas{
	background-color:#e54d42;
}
.desarmes{
	background-color: #f0c330;
}
ul li{
	list-style: none;
	position: relative;
	left:-30px;
	display: inline;
}
.btn-registro{
	position: relative;
	width: 12%;
	height: 120px;
	cursor: pointer;
	margin: 0 0 0 4px;
	border: none;
	left: 7%;
	top: -60px;
	-webkit-box-shadow: 0px 10px 12px -2px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 10px 12px -2px rgba(50, 50, 50, 1);
	box-shadow:         0px 10px 12px -2px rgba(50, 50, 50, 1);

}
.btnenviar{
	position: relative;
	width: 90%;
	height: 50px;
top:5px;
	cursor: pointer;
	margin: 0 0 0 4px;
	border: none;
	-webkit-box-shadow: 0px 10px 12px -2px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 10px 12px -2px rgba(50, 50, 50, 1);
	box-shadow:         0px 10px 12px -2px rgba(50, 50, 50, 1);

}
.jogador{
	width: 130px;
}
.circular {
	position: relative;
	width: 9%;
	height: 120px;
	
/*
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
*/
}
p{
	font-size: 15px;
}
@media screen and (max-width:480px) {
	.status{
-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
		width: 95%;
		position: relative;
		left: 10px;
height:30px;

	}
	.btn-registro{
		left:9%;
		top: 10px;
		height:80px;
	}
	.jogador{
		width: 95%;
		position: relative;
		left: 10px;
	}
	p{
		font-size: 10px;
	}
	#fundo{
		top: 10px;
	}
	.btnenviar{
		width: 95%;
		left: 6px;
top:10px;
	}
	.btnenv{
position:relative;

		width: 95%;
		left: 6px;
height:50px;
top:20px;
	}

	.circular{
		top: 30px;
		height: 50px;
	}
	.registro{
 	position: relative;
 	top: 20px;
 	}
 }
 
 @media screen and (max-width:600px) { 
.status{
		width: 95%;
		position: relative;
		left: 10px;
	}
	.btn-registro{
		left:6%;
		top: 10px;
		height:80px;
	}
	.jogador{
		width: 95%;
		position: relative;
		left: 10px;
	}
	p{
		font-size: 10px;
	}
	#fundo{
		top: 10px;
		left: 17%;
	}
	.btnenviar{
		width: 95%;
		left: 6px;
	}
	.circular{
		top: 30px;
		height: 50px;
	}
	.registro{
 	position: relative;
 	top: 20px;
 	}
 }
 @media screen and (max-width:768px) { 
 	.status{
		width: 95%;
		position: relative;
		left: 10px;
	}
	.btn-registro{
		left:6%;
		top: 10px;
		height:80px;
	}
	.jogador{
		width: 95%;
		position: relative;
		left: 10px;
	}
	p{
		font-size: 10px;
	}
	#fundo{
		top: 10px;
		left: 17%;
	}
	.btnenviar{
		width: 95%;
		left: 6px;
	}
	.circular{
		top: 30px;
		height: 50px;
	}
	.registro{
 	position: relative;
 	top: 20px;
 	}
 }
@media screen and (max-width:992px) {
	.status{
		width: 95%;
		position: relative;
		left: 10px;
	}
	.btn-registro{
		left:17%;
		top: 10px;
		height:60px;
		border-radius: 40%;
	}
	.jogador{
		width: 95%;
		position: relative;
		left: 10px;
	}
	p{
		font-size: 10px;
	}
	#fundo{
		top: 10px;
		left: 17%;
	}
	.btnenviar{
		width: 95%;
		left: 6px;
	}
	.circular{
		top: 30px;
		height: 10px;
	}
	.registro{
 	position: relative;
 	top: 20px;
 	}
 }