/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.googleapis.com/css?family=Sintony');
body{
  background: #434a54;
  font-family: 'Sintony', sans-serif;
}
a:link{
    list-style: none;
    text-decoration: none;
}
