

<div *ngFor="let jo of jog">
  <form #f ngNoForm >
    <div class="form-group">
      <label for="name">{{jo.nome}}</label>
      <input type="hidden" #id name="id" value="{{jo.id}}">
    </div>
    <div class="form-group">
      <label for="ControlSelect">Permissão</label>
      <select class="form-control form-control-lg" id="ControlSelect" name="select" #select="ngModel" ngModel>
        <option value="1">Adm</option> 
        <option value="2">Jogador</option>
        <option value="3">Visitante</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="alterar(f)">Alterar</button>
    
  </form>
</div>
