<div class="bid">
  <div class="row">  
    <!--ngRepeat commeca aqui -->
    <div class="col-sm-6" >
      <div class="cont">    
        <div class="mensalidade">
          <!--class='{{mes.descricao == "PENDENTE" ? "pago" : "pendente" }}'-->    
          <label for="valor" ><h5>{{ mes.descricao }}</h5></label>
          <input class="" type="text" name="" id="valor" placeholder="Valor">
          <a href='' class="link" data-toggle="tooltip" data-placement="bottom" title="Alterar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href='#'  class="js-status link" data-toggle="tooltip" data-placement="bottom"
          title="status" value='' data-teste ="">
          <i class="fa fa-check-square-o" id="js-status" aria-hidden="true" ></i>
          </a>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>