<div class="bid">
  <h2>Criar um servico para  buscar o jogador clicado e o mes e pesquisar como usar os dados de um servico em outra clase</h2>
  <div class="row">  
    <!--ngRepeat commeca aqui -->
      Menslidade de {{ mes.descricao }}
      <div class="col-sm-6" *ngFor="let jogador of jogadores" >
        <div class="cont">    
          <div class="mensalidade">
            <!--class='{{mes.descricao == "PENDENTE" ? "pago" : "pendente" }}'-->    
            <label for="valor" class='{{jogador.Valor <= 0 ? "pendente" : "pago" }}' ><h5>{{ jogador.Name }}</h5></label>
            <input class="" type="text" name="" id="valor" #valor [(ngModel)]="jogador.Valor">
            <a href='' class="link" data-toggle="tooltip" data-placement="bottom" title="Alterar" [routerLink]="['edit/',jogador.Id_jogador]"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <button class="js-status link" data-toggle="tooltip" data-placement="bottom"
            title="status" value='' data-teste ="" (click)="updateMensalidade(jogador.idMes,valor.value,jogador.idMensalidade)">
            <i class="fa fa-check-square-o" id="js-status" aria-hidden="true" ></i>
            </button>
            <button (click)="teste(jogador)"> ola</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

