
.bid
{
  height: auto;
  /*overflow: scroll;*/
  touch-action:pan-y;
  margin-top:5px;
  margin-bottom: 60px; 
}
.msg{
  position:fixed;
  z-index: 2;
  width: 95%;
  padding-left: 15px;
}
.cont
{
  position: relative;
  top: -25px;
  height: 100px;
  box-shadow: 5px 10px 8px #0025; 
}
.pago
{
  background: green;
}
.pendente
{
  background: red;
}
.mensalidade
{
  padding-left:5px;
  position: relative;
  top: 20px;
  
}
.mensalidade>label
{
  width:70%;  
  color:white;
  padding-left: 5px;  
}
.mensalidade>input
{
  width: 50%;
  padding: 7px;
  position: relative;
  left: -5.5px;
}
.valor
{
  width: 33%;
  float: right;
}
.link
{
  box-shadow: 1px 1px 8px 1px #0025;
  padding: 11px 10%;
  cursor: pointer;   
}
.link i
{
  color: white;
}
.link:hover
{
    /*box-shadow: 5px 10px 8px #0025;*/
  -webkit-box-shadow: inset 1px 1px 5px 5px #0025;
  -moz-box-shadow: inset 1px 1px 5px 5px #0025;
  box-shadow: inset 1px 1px 5px 5px #0025;
 
}
.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: whitesmoke;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;
  top: 20px;
}
.slider:hover
{
  opacity: 1;
}
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}