
.bid
{
  height: auto;
  /*overflow: scroll;*/
  touch-action:pan-y;
  margin-bottom: 90px;
}
.cont
{
  height: 80px;
  box-shadow: 5px 10px 8px #0025; 
}
.pago
{
  background: green;

}

.pendente
{
  background: red;
}
.mensalidade
{
  padding-left:5px;
  position: relative;
  top: 20px;
}
.mensalidade>label
{
  width: 33%;  
  color:white;
  padding-left: 5px;  
}
.mensalidade>input
{
  width: 33%;
  padding: 7px;
  position: relative;
  left: -5.5px;
}
.valor
{
  width: 33%;
  float: right;
}
.link
{
  box-shadow: 1px 1px 8px 1px #0025;
  padding: 11px 10%;
  cursor: pointer;   
}
.link i
{
  color: white;
}
.link:hover
{
    /*box-shadow: 5px 10px 8px #0025;*/
  -webkit-box-shadow: inset 1px 1px 5px 5px #0025;
  -moz-box-shadow: inset 1px 1px 5px 5px #0025;
  box-shadow: inset 1px 1px 5px 5px #0025;
 
}

@media screen and (max-width: 720px)
{
  .bid{
    height:400px; 
  }  
  
}