<nav class="menu" #mySidebar style="display:block;">
    <div class="closeMenu">
        <span  class=""><i class="fa fa-window-close fa-3x" aria-hidden="true" (click)="menuAutomatico()"></i></span>
    </div>
    <ul class="">
        <li><a class="" href="" (click)="menuAutomatico()" *ngFor="let mes of meses" [routerLink]="[mes.id]">{{ mes.descricao }}</a></li>
    </ul>
</nav>  

<div class="col-sm-12 meses">    
    <span class="icon glyphicon glyphicon-calendar" (click)="menuAutomatico()"></span>
</div>    
<h3 class="text-center">{{ mensalidade }}</h3>
<router-outlet></router-outlet>
